{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'books/style.css' %}"
</head>
<body>
    <h1>Books</h1>
    <div class="grid">
        {% for book in page %}
        <div class="card">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
            <a href="{{ book.url }}">{{ book.title }}</a>
            <div class="price">£{{ book.price }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="pager">
        <p>
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">← Previous</a>
            {% endif %}

            Page {{ page.number }} of {{ page.paginator.num_pages }}

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">Next →</a>
            {% endif %}
        </p>
    </div>
</body>
</html>